<footer class="article-ending">
  <p class="article-ending__lead">考えるのが疲れたら行ってらっしゃい。</p>
  <div class="article-ending__affiliate">
    <span class="article-ending__ad-label">広告・18禁</span>
    <div
      class="article-ending__banner"
      data-affiliate-widget="true"
      aria-describedby="adult-link-notice"
    >
      <ins class="widget-banner"></ins>
      <script
        is:inline
        class="widget-banner-script"
        src="https://widget-view.dmm.co.jp/js/banner_placement.js?affiliate_id=kiyoshi0505-001&banner_id=1277_640_200"
      ></script>
    </div>
  </div>
  <p id="adult-link-notice" class="article-ending__adult-notice">
    18歳未満の方は閲覧できません。バナーのリンク先は成人向けサイトです。
  </p>
</footer>
